// Stolen from here:
// http://www.justinaguilar.com/animations/index.html
.floating {
	animation-name: bouncing;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes bouncing {
	0% {
		background: orange;
	}
	50% {
		background: blue;
	}
	100% {
		background: green;
	}
}


















// Stupid editor
