@font-face {
  font-family: "my-icons";
  src:url("../fonts/my-icons.eot");
  src:url("../fonts/my-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/my-icons.woff") format("woff"),
    url("../fonts/my-icons.ttf") format("truetype"),
    url("../fonts/my-icons.svg#my-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
