// checkable styles checkboxes/radios all nice
// and purty like
.checkable {
  position: relative;
  display: inline-block;
  padding-left: 1.25em;
}

  // First, we have to hide the checkbox or radio itself
  // by pulling it outside of its parent
  .checkable__input {
    opacity: 0; // this makes it invisible, but still focusable
    position: absolute;
  }

  // Add a pseudo element that will look kind of
  // like a checkbox
  .checkable__label:before {
    font-family: "my-icons";
    content: ' ';
    position: absolute;
    background: white;
    left: 0;
    top: 0.2em;
    width: 0.75em;
    height: 0.75em;
    border: 1px solid #436ba0;
    border-radius: 2px;
  }

  // When the actual checkbox is checked,
  // change the styles of the pseudo checkbox
  input[type=checkbox]:checked + .checkable__label:before {
    content: 'a';
    line-height: 0.5em;
    color: #1992e2;
  }

  // Making this render like a radio when it
  // follows a radio
  input[type=radio] + .checkable__label:before {
    border-radius: 1em;
    box-shadow: inset 0 0 0 2px white;
  }

  // When the actual radio is checked,
  // change the styles of the pseudo radio
  input[type=radio]:checked + .checkable__label:before {
    background: #1992e2;
  }


///////////////////////////////////////////
// The togglable style turns a checkbox
// into a toggle

.togglable__input {
  opacity: 0;
  position: absolute;
}

.togglable__label {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: #CCC;
  padding: 0.25em 0.5em 0.25em 2em;
  border-radius: 1em;
  min-width: 2em;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.15s;
}

.togglable__label:after {
  content: ' ';
  display: block;
  background: #FFF;
  width: 1.1em;
  height: 1.1em;
  border-radius: 1em;
  position: absolute;
  left: 0.4em;
  top: 0.4em;
  transition: left 0.15s, margin-left 0.15s;
}

.togglable__checked {
  display: none;
}

.togglable__input:checked ~ .togglable__label {
  background: #8ad869;
  padding-left: 0.5em;
  padding-right: 2em;

  .togglable__unchecked {
    display: none;
  }

  .togglable__checked {
    display: inline-block;
  }
}

.togglable__input:checked ~ .togglable__label:after {
  left: 100%;
  margin-left: -1.5em;
}


///////////////////////////////////////////
// Shadowy is just a demo of form styling
//
.shadowy {
  background: #222;
  padding: 2em;
  margin-bottom: 2em;
  color: #EEE;
  border-radius: 1em;
  white-space: nowrap;


  // 0 is the horizontal shift
  // 0.5em is the vertical shift (down)
  // 1.5 is the blur radius
  // -0.15em is the spread radius, tucking the shadow under
  // #444 is the shadow color
  box-shadow: 0 0.5em 1.5em -0.15em #444;
}

.shadowy-input {
  font-size: 1em;
  background: #444;
  border: 1px solid dodgerblue;
  border-bottom-color: mix(white, dodgerblue, 50%);
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  color: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shadowy-button {
  font-size: 1em;
  padding: 0.5em;
  background: dodgerblue;
  color: white;
  border: 1px solid dodgerblue;
  border-radius: 0.25em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  // inset puts box-shadow on the inside
  // 0 is the horizontal shift
  // 1em is the vertical shift (down)
  // 0 is the blur radius (making it look solid)
  // finally, we skip the spread radius and specify color
  box-shadow: inset 0 1em 0 mix(white, dodgerblue, 40%);
}
