// This file is really just for the transform example
// page.

.playing-card {
  position: relative;
  background: #ef7408;
  color: white;
  max-width: 5em;
  margin: auto;
  min-height: 7em;

  // Much more here:
  // http://css-tricks.com/almanac/properties/t/transition/
  transition: all 1s;
}

.playing-card:hover {
  background: #3e239d;
}

.playing-card__letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
