@import 'reset';
@import 'defaults';

$pink: #d2127b;
$blue: #1c6375;
$light-blue: #69cce0;
$pale-pink: #ffd1ee;
$dark-pink: #970b5d;

$hilight-background: $blue;
$hilight-foreground: $light-blue;

body {
  font-family: sans-serif;
}


.link-button {
  display: inline-block;
  background: $hilight-background;
  color: $hilight-foreground;
  text-decoration: none;
  padding: 1em;

  &:hover {
    background: $hilight-foreground;
    color: $hilight-background;
  }

  &:focus {
    //mix($color, white, $percentage)
    outline: 10px solid mix($hilight-background, black, 50%);
  }

  // Generally, don't do chaining
  strong {
    font-size: 2em;
  }
}

// .link-button:hover {
//   background: white;
//   color: #d2127b;
// }

// .link-button:focus {
//   outline: 10px solid #970b5d;
// }

// // Generally, don't do chaining
// .link-button strong {
//   font-size: 2em;
// }


















// Some comments
